In [6]:
import pandas as pd
import numpy as np
from src.pipeline import insert_solve
from src.utils import numpy_to_pandas_pretty, display_side_by_side

In [7]:
### Read the data using pandas

demand_nodes_df = pd.read_csv('data/demand_nodes.csv')
itemsets_df = pd.read_csv("data/itemsets.csv")
shipping_df = pd.read_csv("data/shipping.csv")
supply_nodes_df = pd.read_csv("data/supply_nodes.csv")
supply_df = pd.read_csv("data/supply.csv")

### insert data into solver pipeline
solution = insert_solve(shipping_df, itemsets_df, supply_nodes_df, supply_df, demand_nodes_df)

In [8]:
SUPPLY_NODE_IDS = solution['supply_node_ids']
DEMAND_NODE_IDS = solution['demand_node_ids']
SKU_IDS = solution['sku_ids']

In [9]:
output_x_dic = solution['itemsets_output']


itemset_names= []
pd_arr = []


for key, value in output_x_dic.items():
    pd_arr.append(numpy_to_pandas_pretty(value, \
        indices=DEMAND_NODE_IDS, columns=SUPPLY_NODE_IDS, \
        index_name='demand_node', columns_name='source_node'))

    itemset_names.append(f'Itemset_id: {key}')

display_side_by_side(*pd_arr, titles=itemset_names)

source_node,0,1,2
demand_node,,,
0,0,0,1
1,2,0,0
2,3,0,0
3,0,2,0
4,0,1,0
5,0,2,0
6,0,0,5
source_node,0,1,2
demand_node,,,
0,3,0,0
1,0,3,0
2,3,0,0
3,0,4,0
4,0,2,0
5,0,0,1
6,0,0,0
source_node,0,1,2
demand_node,,,
0,3,0,2
1,1,2,0
2,0,3,0
3,0,0,0
4,0,5,0
5,0,0,1
6,0,0,0

In [10]:
procurement_output = solution['procurement_output']

output_y = numpy_to_pandas_pretty(procurement_output, \
        indices=SUPPLY_NODE_IDS, columns=SKU_IDS, \
        index_name='supply_node', columns_name='sku_ids')

output_y